<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Coding Exercise', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Orders', root_path %></li>
    </ul>
  </div>
</nav>
